/* .custom-navbar {
    background-color: #fff;
    height: 70px; 
  }
  .navbar{
    border-bottom: 2px solid black; 
    border-radius: 6px;         
  }
  
  .navbar-collapse {
    display: flex !important; 
  }
  .navbar-nav .nav-link {
    color: black !important;
    font-size: 14px;
    padding-bottom: 0px;
    margin-top: 4px;
    margin-right: 3px !important;
    margin-inline: 20px;
    font-weight: bold;
  }
  
  .navbar-nav .nav-link:hover {
    color: #8B0000 !important; 
    border-bottom: #000000 2px solid ; 

  }
  */
  @media (max-width: 767px) {
    .responsive-height {
      height: 90px;
    }
  }
  @media(min-width: 992px){
    
      .widthh{
         width: 50%;
      }       
  }
.link{
  color: black !important;
  font-size: 16px;
  padding-bottom: 0px;
  margin-top: 2px;
  margin-inline: 20px;
  font-weight: bold;
}
.blurry-background {
  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px); 
}
.link-1{
  color: black !important;
  font-size: 16px;
  padding-bottom: 0px;
  margin-top: 6px;
  margin-inline: 20px;
  font-weight: bold;
}
.link:hover{
  color: #8B0000 !important; 
  border-bottom: #000000 3px solid ; 
}

.button-81 {
  background-color: #fff;
  border: 0 solid #e2e8f0;
  border-radius: 1.5rem;
  box-sizing: border-box;
  color: #0d172a;
  cursor: pointer;
  margin-top: 0px;
  font-family: "Basier circle",-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: 1.1rem;
  font-weight: 600;
  line-height: 1;
  padding: 0.5rem 1.2rem;
  text-align: center;
  text-decoration: none #566073 solid;
  text-decoration-thickness: auto;
  transition: all .1s cubic-bezier(.4, 0, .2, 1);
  box-shadow: 0px 1px 3px rgba(29, 30, 33, 0.25);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
.button-81:hover{
  color: #8B0000;
}